CompileFlags:
  Add: [-std=c++20]
Diagnostics:
  ClangTidy:
    Add:
      [
        bugprone*,
        misc*,
        cppcoreguidelines*,
        performance*,
        portability*,
        modernize*,
        readability*,
      ]
    Remove: 
      [
        modernize-use-trailing-return-type,
        modernize-use-nodiscard,
        cppcoreguidelines-init-variables,
        bugprone-easily-swappable-parameters,
        cppcoreguidelines-avoid-non-const-global-variables,
        misc-no-recursion,
        readability-braces-around-statements,
        readability-identifier-length,
        readability-isolate-declaration,
        readability-magic-numbers,
        cppcoreguidelines-avoid-magic-numbers,
        readability-function-cognitive-complexity
      ]
    CheckOptions:
      readability-identifier-naming.VariableCase: lower_case
      readability-identifier-naming.FunctionCase: lower_case
      readability-identifier-naming.GlobalConstantCase: UPPER_CASE
      readability-identifier-naming.VariableIgnoredRegexp: "[A-Z]"
